.cell { border: 0px solid lime; border-radius: 5px;
    width: 40px; height: 40px;
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 0px 2px;
    background: #444;
    }

.cell.live { background: lime; }
.cell.mature { background: orange;}

body { background: black; color: white;}

